extends layout

block content
  //- Variables : 

  - var acteurLOK = ["Elijah Wood","Sean Astin","Ian Mckellen"]
  - var acteurInter = ["Matthew McConaughey","Anne Hathaway","Michael Caine"]
  - var categories = [{lien:'#',text:'Action'},{lien:'#',text:'Aventure'},{lien:'#',text:'Science fiction'},{lien:'#',text:'Comédie'}]




  nav 
    .title BestMovies 
    ul
      each val in [{lien:'#',text:'Accueil'},{lien:'#',text:'A propos'},{lien:'#',text:'Contact'}]
        li
          a(href=val.lien) #{val.text}

  section
    article
      +ajoutArticle("Le seigneur des anneaux",
      "Aventure",
      './images/lord_of_ring1.jpg',
      "Un jeune et timide `Hobbit', Frodon Sacquet, hérite d'un anneau magique. Bien loin d'être une simple babiole, il s'agit d'un instrument de pouvoir absolu qui permettrait à Sauron, le `Seigneur des ténèbres', de régner sur la `Terre du Milieu' et de réduire en esclavage ses peuples. Frodon doit parvenir jusqu'à la `Crevasse du Destin' pour détruire l'anneau.",'Peter Jackson', 
      acteurLOK,
      '19/12/2001')
      +ajoutArticle("Interstellar",
      "Science fiction",
      './images/interstellar.jpg',
      "Le film raconte les aventures d’un groupe d’explorateurs qui utilisent une faille récemment découverte dans l’espace-temps afin de repousser les limites humaines et partir à la conquête des distances astronomiques dans un voyage interstellaire. ",
      'Christopher Nolan', 
      acteurInter,
      '19/12/2001')

    .sideBar
      input(
        type='text'
        name='Rechercher'
        id="Rechercher"
        placeholder="Rechercher.."
      )
      ul.categorieFilm
        each val in categories
          li
            a(href=val.lien) #{val.text}




//- Mixins

mixin ajoutArticle(titreFilm,categorie,lienImg,description,realisateur,acteurs,dateSortie)
  .monArticle 
    .header
      a(href='#')
        h2= titreFilm
      .categorie #{categorie}
    .main  
      img(src=lienImg)
      p=description 
    .footer
      .date Sortie le #{dateSortie}
      .real Par #{realisateur} 
      ul.actor
        each val in acteurs
          li=val
    


      