extends layout

block content
  //- Variables : 

  - var acteurLOK = ["Elijah Wood","Sean Astin","Ian Mckellen"]
  - var acteurInter = ["Matthew McConaughey","Anne Hathaway","Michael Caine"]
  - var categories = [{lien:'#',text:'Action'},{lien:'#',text:'Aventure'},{lien:'#',text:'Science fiction'},{lien:'#',text:'Comédie'}]



  
    section
      article
        +ajoutArticle(
        dataMovies.film1.titreFilm,
        dataMovies.film1.categorie,
        dataMovies.film1.lienImg,
        dataMovies.film1.description,
        dataMovies.film1.realisateur, 
        dataMovies.film1.acteur,
        dataMovies.film1.dateSortie)
        +ajoutArticle(
        dataMovies.film2.titreFilm,
        dataMovies.film2.categorie,
        dataMovies.film2.lienImg,
        dataMovies.film2.description,
        dataMovies.film2.realisateur, 
        dataMovies.film2.acteur,
        dataMovies.film2.dateSortie)
        +ajoutArticle(
        dataMovies.film3.titreFilm,
        dataMovies.film3.categorie,
        dataMovies.film3.lienImg,
        dataMovies.film3.description,
        dataMovies.film3.realisateur, 
        dataMovies.film3.acteur,
        dataMovies.film3.dateSortie)
        

      .sideBar
        input(
          type='text'
          name='Rechercher'
          id="Rechercher"
          placeholder="Rechercher.."
        )
        ul.categorieFilm
          each val in categories
            li
              a(href=val.lien) #{val.text}
      

//- Mixins

mixin ajoutArticle(titreFilm,categorie,lienImg,description,realisateur,acteurs,dateSortie)
  .monArticle 
    .header
      a(href='#')
        h2= titreFilm
      .categorie #{categorie}
    .main  
      img(src=lienImg)
      p=description 
    .footer
      .date Sortie le #{dateSortie}
      .real Par #{realisateur} 
      ul.actor

        each val in acteurs
          li=val
    


      